.sf-menu, .sf-menu * {margin:0;padding:0;list-style:none;}
.sf-menu{ float:right; padding:47px 0 0 0;}
.sf-menu li {float:left; position:relative;  margin-left:6px;}
	.sf-menu li a {display:block;padding:23px 20px 35px 20px; color:#fff;position: relative;z-index: 10;}
	.sf-menu li a span{ display:block; font-size:20px; line-height:1.2em; text-transform:uppercase;}
	.sf-menu li:after{ display:block; color:#686572; font:13px/18px Arial, Helvetica, sans-serif;position: absolute;bottom: 17px;left: 20px;z-index: 1;}
			.sf-menu li.sfHover,.sf-menu li.current,.sf-menu li:hover{ background:url(../images/menu-hover.jpg) 0 0 repeat-x;}
			.sf-menu li a:hover{text-decoration:none;}
			.sf-menu li.current a{color:#0ea1d5;}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	z-index:		99;
	width:			192px; 
	display:none;
	background:#131316;
	padding:13px 0 13px 0;
}
.sf-menu li li{padding:0; width:100%; background:#131316; margin:0;}
	.sf-menu li li a,.sf-menu li.sfHover li a,.sf-menu li.current li a{color:#fff; display:block; padding:4px 10px 4px 15px; font-size:14px; line-height:1.2em; text-transform:uppercase;}
	.sf-menu li li:hover, .sf-menu li li.sfHover, .sf-menu li li.current{ background:#0ea1d5;}
		.sf-menu li li a:hover,.sf-menu li li.sfHover a,.sf-menu li li.current a{color:#fff;}
    .sf-menu li li:hover:after,.sf-menu li li.sfHover:after,.sf-menu li li.current:after{color: #55535d;}
.sf-menu ul ul {
	position:		absolute;
	top:			-999em;
	z-index:		99;
	width:			192px; 
	display:none;
	background:#131316;
	padding:13px 0 13px 0;
}
	.sf-menu li li li{padding:0; width:100%;}
	.sf-menu li li li a,.sf-menu li li.sfHover li a,.sf-menu li li.current li a{color:#fff}
		.sf-menu li li li a:hover,.sf-menu li li li.current a{color:#fff;}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0px;
	top:			89px; /* match top ul list item height */
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			192px; /* match ul width */
	top:			-13px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			00px;
}

.sf-menu li a .menu-arrow{
    display:block;
    width:5px;
    height:3px;
    margin-left: -3px;
    left: 50%;
    bottom: 10px;
    position: absolute;
    text-indent:-100%;
    font-size:0;
    line-height:0;
    background: url('../images/menu_arrow.png') 0 -7px no-repeat;
    vertical-align: middle;
}
.sf-menu li li a .menu-arrow{
    left: auto;
    right: 10px;
    bottom: 13px;
}
.item1:after{content: "Home page";}
.item2:after{content: "Get to know us";}
.item3:after{content: "Our products";}
.item4:after{content: "What we offer";}
.item5:after{content: "Get in touch";}


@media only screen and (max-width: 995px) {
 body{min-width:768px;}
 .sf-menu li a {display:block; color:#fff;padding-left: 12px;padding-right: 12px;}
 .sf-menu li{margin-left: 2px;}
 .sf-menu li:after{left: 0;width: 100%;text-align: center;}
}

@media only screen and (max-width: 767px) {
  .sf-menu li em{content: "" !important;}
  nav{
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#fff;
		padding:50px 0 0;
	}
		nav:before{
			content:'Menu:';
			display:block;
			margin-bottom:5px;
		}
	.sf-menu{display:none;}
	nav select{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#464646;
		width:100%;
    outline: none;
    padding: 5px;
		border:2px solid #9e9e9e;
	}
}

@media only screen and (max-width: 479px) {
 body{min-width:300px;}
}